<footer class="bg-black text-center text-white py-5">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
 
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="pi pi-facebook"></i></a>
  

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="pi pi-twitter"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="pi pi-youtube"></i></a>
  

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="pi pi-instagram"></i></a>
  
  
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="pi pi-google"></i></a>
  
     
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="pi pi-whatsapp"></i></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
            <h5 class="text-uppercase">THE BASICS</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">About Terso</a>
              </li>
              <li>
                <a href="#!" class="text-white">Contact Us</a>
              </li>
              <li>
                <a href="#!" class="text-white">Support Fourms</a>
              </li>
              <li>
                <a href="#!" class="text-white">System Status</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

  
          <!--Grid column-->
          <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
            <h5 class="text-uppercase">COMMUNITY</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Guidelines</a>
              </li>
              <li>
                <a href="#!" class="text-white">Discussions</a>
              </li>
              <li>
                <a href="#!" class="text-white">Leaderboard</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
            <h5 class="text-uppercase">LEGAL</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Terms of use</a>
              </li>
              <li>
                <a href="#!" class="text-white">Privacy Policy</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © {{date | date: 'yyyy '}} Copyright
      <a class="text-white" href="#">Terso.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
