.navBar{
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
    img{
        width: 5rem;
    }
    .navItems{
        font-size: 1.1rem;
        line-height: 3rem;
    }
}