.main{
    height: 100vh;
    background-image: url(../../assets/cover.png);
    background-size: cover;
    background-position: top;
    img{
        width: 30rem;
    }

    &-box{
       
        padding-top: 8rem;

        span{
            font-size: 2rem;
            letter-spacing: 1rem;
            color: white;
            font-weight: 700;
        }

        .startBtn{
            background-color: #e6007e;
            border-color: white;
            font-size: 1.5rem;
            
        }
    }

    // &-primary{
    //     color: white;
    //     text-transform: uppercase;
    //     margin-bottom: 6rem;
    
    //     &--main{
    //         display: block;
        
    //         animation-name: moveInLeft;
    //         animation-duration: 1s;
    //         animation-timing-function: ease-out;
    //     }
        
    //     &--sec{
    //         display: block;
    //         font-size: 2rem;
    //         letter-spacing: 1rem;
        
    //         animation-name: moveInRight;
    //         animation-duration: 1s;
    //         animation-timing-function: ease-out;
    //     }
    // }

    
}

// .btn{
//     &:link, 
//     &:visited {
//         text-transform: uppercase;
//         text-decoration: none;
//         padding: 1.5rem 4rem;
//         display: inline-block;
//         border-radius: 10rem;
//         transition: all .2s;
//         position: relative;
//         animation: moveUp 0.5s ease-out .75s;
//         animation-fill-mode: backwards;
//         font-size: 1.6rem;
//     }
    
//     &:hover {
//         transform: translateY(-.3rem);
//         box-shadow: 0 1rem 2rem rgba($color-black, .2);

//         &::after {
//             transform:scaleX(1.4) scaleY(1.6);
//             opacity: 0;
//         }
//     }
    
//     &:active {
//         transform: translateY(-.1rem);
//         box-shadow: 0 .5rem 1rem rgba($color-black, .2);
//     }
    
//     &--white {
//         background-color: $color-white;
//         color: $color-grey;

//         &::after {
//             background-color: $color-white;
//         }
//     }
    
//     &::after {
//         content: "";
//         display: inline-block;
//         height: 100%;
//         width: 100%;
//         border-radius: 10rem;
//         position: absolute;
//         top: 0;
//         left: 0;
//         z-index: -1;
//         transition: all .4s;
//     }

//     &-text {
//         &:link,
//         &:visited {
//             font-size: 1.6rem;
//             color: $color-primary-medium;
//             display: inline-block;
//             text-decoration: none;
//             border-bottom: .1rem solid $color-primary-medium;
//             padding: .3rem;
//         }

//         &:hover {
//             color: $color-white;
//             background-color: $color-primary-medium;
//             transform: translateY(-.3rem);
//             box-shadow: 0 1rem 2rem rgba($color-black, .2);
    
//             &::after {
//                 transform:scaleX(1.4) scaleY(1.6);
//                 opacity: 0;
//             }
//         }

//         &:active {
//             transform: translateY(-.1rem);
//             box-shadow: 0 .5rem 1rem rgba($color-black, .2);
//         }
//     }
// }

// @keyframes moveInLeft{
//     0%{
//         opacity: 0;
//         transform: translateX(-10rem);

//     }
//     80%{
//         transform: translateX(1rem);
//     }
//     100%{
//         opacity: 1;
//         transform: translateX(0);
//     }
// }


// @keyframes moveInRight{
//     0%{
//         opacity: 0;
//         transform: translateX(10rem);

//     }
//     80%{
//         transform: translateX(-1rem);
//     }
//     100%{
//         opacity: 1;
//         transform: translateX(0);
//     }
// }

// @keyframes moveUp{
//     0%{
//         opacity: 0;
//         transform: translateY(3rem);    
//     }
//     80%{
//         transform: translateY(-.5rem);
//     }
//     100%{
//         opacity: 1;
//         transform: translateY(0);
//     }
// }