<body>
    


    <section class="main">
        <div class="main-box mx-auto text-center col-8">
            <img src="assets/logo.png" alt="" class="mx-auto mb-5 img-fluid ">
            <span class=" d-block mx-auto text-center my-3">The People’s Cinema</span>
            <!-- <button  pButton pRipple type="button" label="Start Watching" class="startBtn p-button-rounded p-button-help my-5"></button> -->
            <button routerLink="/auth" pButton pRipple type="button" label="Start Watching" class="p-button-raised p-button-secondary startBtn my-5"></button>
        </div>
    </section>
    
    
    
</body>
