.card{
    padding: 0;
    text-decoration: none;
    display: block;
    min-height: 35vh;
    border-radius: 5px;
    background-color: black;
    color: white;
    &-image{
        img{
            width: 100%;
            border-radius: 5px;
            height: 35vh;
            object-fit: cover;
            
            
        }
        &:after{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            content: "";
            background-image: linear-gradient(0deg, rgba(0,0,0,1) 16%, rgba(0,0,0,0) 100%);
        }
    }
    &-pane{
       
        bottom: 1rem;
        text-align: center;
        &-rating{
            text-align: left;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            font-size: 1rem;
            color: white;
            
            padding: .5rem;
        }
        &-title{
            width: 80%;
            position: absolute;
            bottom: 3rem;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            font-size: 1rem;
            color: white;
        }
    }
}